@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="alert alert-danger">    
                        <p class="my-error">OPS, si è verificato un errore improvviso!</p>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </div>
    </div>
</div>
